#colTab{
  overflow: hidden;
 
}

#navTab{
  float: right;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
  font-size: 20px;
}

.navlink{
  color: #952790;

}


.navlink:hover{
  color: #ff28e1;
}


