.card-container
{
margin-top: 35px; /* Ajustar pra resposivo */
width: 300px;
overflow: hidden;
box-shadow: 0px 0px 15px -5px;
transition: 0.3s;
animation: ease-in;
}

.card-container:hover
{
transform: scale(1.1);
box-shadow: 0px 0px 15px 0px;
}


.image-container img
{
overflow: hidden;
height: 200px;
}
.card-content
{
 margin: 1rem;
 margin-top: 0,5rem; 
}

h3,p
{
  margin:0 ;
  padding: 0;
}
.car-title
{
  margin-bottom: 0.5rem;
}
.button
{
  display: flex;
  justify-content: center;
  margin: 0.rem;
}

.button button
{
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin-bottom: .5rem;
  border-radius: 3px;
}
.button button:hover
{
  background: rgba(27,156,252,0.1);
  transform: scale(1.1);
}
a{
  text-transform: uppercase;
  color: aquamarine;
  text-decoration: none;
  font-weight: bold;
}